@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#service-section{
    min-height: 740px;
    width: 100%;
    background:#20223a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#service-section h2{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    position: relative;
}
#service-section h2::after{
    position: absolute;
    content: '';
    top: 30%;
    left: -30px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid #fd562a;
}
#service-section h2::before{
    position: absolute;
    content: '';
    top: 30%;
    right:  -30px;
    height: 0px;
    width: 0px;
    border-top: 20px solid transparent;
    border-right: 20px solid #fd562a;
}
#service-section #peragraph{
    width: 45%;
    font-size: 1rem;
    color: rgba(255,255,255,0.7);
    text-align: center;
    line-height: 1.5rem;
    white-space: 1px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    z-index: 9;
    margin-top: 20px;
}
.cards .card{
   min-height:350px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 8%;
    background: rgb(65,62,105);
    position: relative;
    border-radius: 10px;
    margin: 0 10px;
}
.cards .card::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #fd562a;
    transform: rotate(0deg);
    z-index: -1;
}
.cards .card:hover.card::before{
    transform: rotate(10deg);
}
.cards .card i{
    font-size: 2.5rem;
    color: #fd562a;
    margin-top: 40px ;
    margin-bottom: 10px;
}
.cards .card  h3{
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 10px;
}
.cards .card .content p{
    color:rgba(255,255,255,0.5);
    font-size: 1.05rem;
    margin-bottom: 20px;
    font-weight: 500;
}
@media (max-width:1100px){
    #service-section h2{
        margin-top: 30px;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    #service-section #peragraph{
        width: 80%;
    }
}
@media (max-width:900px){
  .cards .card{
    height: 300px;
    width: 400px;
    margin: 20px 0;
  }
}